.shilldetector-alert-snpjd696tt {
	font-family: helvetica, arial, sans-serif;
	font-size: 20px;
	line-height: 1em;	
	position: fixed;
	width: 100%;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	z-index: 99999999999999;
	background: rgba(255,235,59,0.8);
	border-bottom: 1px solid #ccb800;
	top: 0px;
	left: 0px;
}

.shilldetector-alert-snpjd696tt ul {
	display: block;
	margin-top: 5px;
	padding-top: 15px;
	background: #e1d35c;
	padding-bottom: 15px;
	margin-bottom: -15px;
	list-style-type: none;
}

.shilldetector-alert-snpjd696tt ul li a {
	text-decoration: underline;
}

.close-snpjd696tt {
	position: absolute;
	right: 15px;
	top: 15px;
	font-weight: bold;
	font-size: 36px;
	cursor: pointer;
}
